.header {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 88px 0 16px 0;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 48px;
}

.head-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.head-icons form {
  margin-left: 24px;
}

.head-icon {
  display: flex;
  align-items: center;
}

.inp input {
  border: none;
  outline: none;
  background-color: #f5f5f5;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}
.inp input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}

.inp {
  background: #f5f5f5;
  padding: 7px 12px 7px 20px;
}

.qwe {
  display: flex;
}

.i i {
  margin-left: 16px;
}

.hearth b {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  position: relative;
  top: -10px;
  background: #db4444;
  border-radius: 50%;
  padding: 1px 2px 1px 5px;
  left: -12px;
  color: #FAFAFA;

}
