header {
  border-bottom: 2px solid #6867679a;
}

body {
  padding-top: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.aza {
  background-color: #f5f5f5;
}
